<!DOCTYPE html>
<html>
<head>
  <title>TrunkMonkey</title>
</head>
<body>
<h1>Puzzling</h1>
<div class="board">
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><br>
  <div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div><div class="droppable"></div>
</div>
<br /><br /><br /><br /><br /><br />
    <%= image_tag('lolcat_1.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_2.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_3.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_4.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_5.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_6.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_7.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_8.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_9.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_10.png', class: 'ui-draggable') %>
<br>
    <%= image_tag('lolcat_11.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_12.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_13.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_14.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_15.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_16.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_17.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_18.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_19.png', class: 'ui-draggable') %>
    <%= image_tag('lolcat_20.png', class: 'ui-draggable') %>

</body>
</html>